<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Abstract</title>
    <meta name="description" content="Roxy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="static/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="static/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/vendor/lightcase/lightcase.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='abs.ico') }}">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	<div id="side-nav" class="sidenav">
	<a href="javascript:void(0)" id="side-nav-close">&times;</a>
	
	<div class="sidenav-content">
		<p>
            Stav Joshua Tsechansky, Austin Texas
		</p>
		<p>
			<span class="fs-16 primary-color">(512)-590-3080</span>
		</p>
		<p>I can also be contacted through smoke signals. ;)</p>
	</div>
</div>	<div id="side-search" class="sidenav">
	<a href="javascript:void(0)" id="side-search-close">&times;</a>
	<div class="sidenav-content">
		<form action="">

			<div class="input-group md-form form-sm form-2 pl-0">
			  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
			  <div class="input-group-append">
			    <button class="input-group-text red lighten-3" id="basic-text1">
			    	<span class="lnr lnr-magnifier"></span>
			    </button>
			  </div>
			</div>

		</form>
	</div>
	
</div>	<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <h3 class="font-weight-bolder mb-0">Stav Tsechansky.</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Abstract</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                
                 <li class="nav-item only-desktop">
                    <a class="nav-link" id="side-nav-open" href="#">
                        <span class="lnr lnr-menu"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="side-nav" class="sidenav">
	<a href="javascript:void(0)" id="side-nav-close">&times;</a>
	
	<div class="sidenav-content">
		<p>
            Stav Joshua Tsechansky, Austin Texas
		</p>
		<p>
			<span class="fs-16 primary-color">(512)-590-3080</span>
		</p>
		<p>Straight up use a Telegram.</p>
	</div>
</div><div id="side-search" class="sidenav">
	<a href="javascript:void(0)" id="side-search-close">&times;</a>
	<div class="sidenav-content">
		<form action="">

			<div class="input-group md-form form-sm form-2 pl-0">
			  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
			  <div class="input-group-append">
			    <button class="input-group-text red lighten-3" id="basic-text1">
			    	<span class="lnr lnr-magnifier"></span>
			    </button>
			  </div>
			</div>

		</form>
	</div>
	
</div>	<div class="jumbotron jumbotron-ab jumbotron-single d-flex align-items-center" style="background-image: url(static/hoodie.gif)">
  <div class="container text-center">
    <h1 class="display-2 mb-4">Abstract</h1>
  </div>
</div>	<section id="who-we-are" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap" data-aos="fade-up">
                <h2 class="section-title">Details</h2>Regarding my<b> Projects and Skills</b></h2>
                <!-- <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a <br> pharetra augue. Donec id elit non mi porta gravida at eget metus.</p> -->
            </div>
            
            <div class="row text-center">
                <div class="col-md-4 col-sm-6" data-aos="fade-up">
                    <img class="rounded-circle" src="static/ds_anim_nbg.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">V.I.C Discord Bot</h5>
                    <p>I utilized javascript with node.js and the discord.js library to create a discord bot for 5 different servers. The bot known as V.I.C (very intelligent computer) utilized numerous API's (including my own API) to provide users with information on command. This information includes weather/astronomical forecasts for specific locations, news articles, climate change tech news, random nasa facts, and inspirational qoutes. V.I.C can also respond to many diffeent types of greetings.</p>
<!--                     <p><a class="btn btn-link" href="#" role="button">View details</a></p>
 -->                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
                    <img class="rounded-circle" src="static/api_anim_nbg.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Climate Change Tech News API</h5>
                    <p>Once again I utilized node.js to create an API that I ran on heroku which provides users with a sorted package of climate change tech news from numerous news articles. Users can also specify if they only want one news source by adding /newssource to the link.</p>
<!--                     <p><a class="btn btn-link" href="#" role="button">View details</a></p>
 -->                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="400">
                    <img class="rounded-circle" src="static/webdev_anim_nbg.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Web Development/Design Projects</h5>
                    <p>For my web dev projects I utilize python with flask, javascript, html, and css to create websites. This website used the previous languages along with other cool librarys/packages to make it look cooler/user friendly. This website was created by me along with code from Roxy. I am currently developing similar portfolio websites for my friends and have even recevied some freelance offers. </p>
<!--                     <p><a class="btn btn-link" href="#" role="button">View details</a></p>
 -->                </div>
                <!-- /.col-md-4 col-sm-6  -->
            </div>
            </div>
                        <div class="row text-center">

                        <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="400">
                        <img class="rounded-circle" src="static/pydev_anim_nbg.gif" alt="Generic placeholder image" width="140" height="140">
                        <h5 class="mb-4">Python Development</h5>
                        <p>Along with my Aerospace/Computing/Plan II UT curriculum I am taking an online py dev course and am creating many projects utilizing python and the knowledge that I gain from the course. One of the more advanced projects is a machine learning engine for healthcare laproscopic surgery data. </p>
<!--                         <p><a class="btn btn-link" href="#" role="button">View details</a></p>
 -->                        </div>
                        <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="400">
                            <img class="rounded-circle" src="static/hack_anim_nbg.gif" alt="Generic placeholder image" width="140" height="140">
                            <h5 class="mb-4">Ethical Hacking USB</h5>
                            <p>I have recently taken an interest in Ethical Hacking/Cyber Security. My interest has lead me to want to understand hacking devices better by building one myself. I bought a raspberry pi pico and began to develop a dangerous usb. Once inserted into an open computer the usb uses python to present itself as a keyboard to the computer. It then gives remote acess of the infected computer to another laptop. This is just the begining of my cyber security endeavors.</p>
<!--                             <p><a class="btn btn-link" href="#" role="button">View details</a></p>
 -->                        </div>
                        <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="400">
                            <img class="rounded-circle" src="static/sensor_anim_nbg.gif" alt="Generic placeholder image" width="140" height="140">
                            <h5 class="mb-4">Undergraguate Research Assistant</h5>
                            <p>Early in my freshman year I joined the Hutter Research Group as an engineering undergraguate research assistant. I am experiencing teamwork amongst high level engineers/business experts/doctors. During this experience I am also learning about medical device entrepreneurship, and complex rpi breadboards.</p>
<!--                             <p><a class="btn btn-link" href="#" role="button">View details</a></p>
 -->                        </div>
            </div>
                </div>
            </div>                                    
            <!-- /.row -->
        </div>
    </div>
</section>	<section id="skills" class="bg-white">
    <div class="container">
        <div class="section-content pt-0">
            
            <div class="row">
                <div class="col-md-6" data-aos="fade-right">
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                             <p>Python</p>
                            <p class="text-muted">70%</p>
                        </div>
                        <div class="progress" data-percent="70%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Javascript</p>
                            <p class="text-muted">90%</p>
                        </div>
                         <div class="progress" data-percent="90%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Flask</p>
                            <p class="text-muted">77%</p>
                        </div>
                         <div class="progress" data-percent="77%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>node.js</p>
                            <p class="text-muted">85%</p>
                        </div>
                         <div class="progress" data-percent="85%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>CSS</p>
                            <p class="text-muted">55%</p>
                        </div>
                         <div class="progress" data-percent="55%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                </div>
                <div class="col-md-6" data-aos="fade-left">
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>HTML</p>
                            <p class="text-muted">65%</p>
                        </div>
                         <div class="progress" data-percent="65%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>C++</p>
                            <p class="text-muted">75%</p>
                        </div>
                         <div class="progress" data-percent="75%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>MatLab</p>
                            <p class="text-muted">50%</p>
                        </div>
                         <div class="progress" data-percent="50%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Raspberry Pi</p>
                            <p class="text-muted">70%</p>
                        </div>
                         <div class="progress" data-percent="70%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                      <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>3D Printing</p>
                            <p class="text-muted">50%</p>
                        </div>
                         <div class="progress" data-percent="50%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>

                    </div>
                    <!-- End Skill Item -->
                </div>
            </div>
        </div>
    </div>
</section>	<!-- Features Section-->
<section id="cta" class="bg-fixed overlay" style="background-image: url(static/nite.gif);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">I am...</h2>
                    <p>always thinking of new projects/ideas to pursue so this website will change as I will have to add more to keep it up to date. :)</p>
<!--                     <a class="btn btn-outline-primary btn-lg">FEATURES</a>
 -->                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section--></div>
<footer class="mastfoot my-3">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		
         	</div>
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">Contact me<a href="contact.html" target="_blank"> Here</a>.</p>
         	</div>
            
        </div>
    </div>
</footer>	<!-- External JS -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="static/vendor/bootstrap/popper.min.js"></script>
	<script src="static/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="static/vendor/select2/select2.min.js "></script>
	<script src="static/vendor/owlcarousel/owl.carousel.min.js"></script>
	<script src="static/vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/vendor/isotope/isotope.min.js"></script>
	<script src="static/vendor/lightcase/lightcase.js"></script>
	<script src="static/vendor/waypoints/waypoint.min.js"></script>
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	 
	<!-- Main JS -->
	<script src="static/js/app.min.js "></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
