<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stav</title>
    <meta name="description" content="Stav.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- External CSS -->
    <link rel="stylesheet" href="static/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="static/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/vendor/lightcase/lightcase.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='me.ico') }}">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="static/https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <h3 class="font-weight-bolder mb-0">Stav Tsechansky.</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Abstract</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                 <li class="nav-item only-desktop">
                    <a class="nav-link" id="side-nav-open" href="#">
                        <span class="lnr lnr-menu"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="side-nav" class="sidenav">
	<a href="javascript:void(0)" id="side-nav-close">&times;</a>
	
	<div class="sidenav-content">
		<p>
			Stav Joshua Tsechansky, Austin Texas
		</p>
		<p>
			<span class="fs-16 primary-color">(512)-590-3080</span>
		</p>
		<p>I can also be contacted through messenger pigeon. ;)</p>
	</div>
</div><div id="side-search" class="sidenav">
	<a href="javascript:void(0)" id="side-search-close">&times;</a>
	<div class="sidenav-content">
		<form action="">

			<div class="input-group md-form form-sm form-2 pl-0">
			  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
			  <div class="input-group-append">
			    <button class="input-group-text red lighten-3" id="basic-text1">
			    	<span class="lnr lnr-magnifier"></span>
			    </button>
			  </div>
			</div>

		</form>
	</div>
	
</div>	<div class="jumbotron d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-1 mb-4">ST<br>AV</h1>
  </div>
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="computer computer-1">
        <img src="static/pc.gif" alt="">
    </div>  
  <div class="computer computer-2">
        <img src="static/tracks.gif" alt="">
    </div> 
  
  <div class="triangle triangle-1">
    <img src="https://media3.giphy.com/media/Xe7bgmRNY2sF1ThoS1/giphy.gif?cid=ecf05e47hyw1lcvsj6y9085t6ku7sudef74ule7f8evy8dqb&rid=giphy.gif&ct=g" alt="">
<!--   	<img src="static/img/obj_triangle.png" alt="">
 -->  </div>
  <div class="triangle triangle-2">
    <img src="https://media2.giphy.com/media/bd4td7PlhYY9i/giphy.gif?cid=ecf05e472kdygsh2a6l02p3c8vhto12xodh9h24pav22zhvd&rid=giphy.gif&ct=g" alt="">

<!--   	<img src="static/img/obj_triangle.png" alt="">
 -->  </div>
  <div class="triangle triangle-3">
  	<img src="https://media0.giphy.com/media/JHnQuu72py86RlSlwD/giphy.gif?cid=ecf05e47fob8oggqnavgccs9rg84midkng2pdwu8j4ft911a&rid=giphy.gif&ct=g" alt="">
  </div>
  <div class="triangle triangle-4">
  	<img src="https://media1.giphy.com/media/RIbovb1Unid7IGg1xG/giphy.gif?cid=ecf05e4743epzs05mv33uaon5zv5okx3n658ed8dlph8rg6b&rid=giphy.gif&ct=g" alt="">
  </div>
</div>	<!-- Features Section-->
<section id="features" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title">
                    Honors Aerospace Engineer with an emphasis in Computing/Plan II Honors Student <a style ="color: #0077b5;" href="https://www.linkedin.com/in/stav-tsechansky-3902b118b" target="_blank">My Linkedin</a>
                </h2>
                <p class="section-sub-title">Other than spending my time doing random creative projects I try to have a life. <br> Here is some information about me.</p>
            </div>
            <!-- End of Section Title -->
            <div class#0077b5="row">
                <!-- Features Holder-->
                <div class="col-md-10 offset-md-1 features-holder">
                    <div class="row">
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                </div>
                                <h4>Sport</h4>
                                <p>I enjoy endurance sports such as cycling, and rowing. In addition, a day of fishing will always quench my desire for action.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                </div>
                                <h4>Austin</h4>
                                <p>I am from Austin, Texas and have grown up here most of my life (except for two years in Cambridge, England and Tel-Aviv, Israel). I currently attend UT Austin.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                </div>
                                <h4>Culture</h4>
                                <p> In addition to speaking English fluently I also speak/read/write Hebrew fluently. I enjoy traveling and learning about other cultures and visiting museums.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                </div>
                                <h4>Projects</h4>
                                <p>Personal Projects are a major aspect of my free time. I enjoy teaching myself new concepts/skills through my desire to create.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                </div>
                                <h4>Liberal Arts</h4>
                                <p>Although my main focus is STEM I also have a 2nd major called Plan II honors. That major allows me to pursue interdiciplinary studies in Literature, Philosophy, Social Sciences, ect...</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                </div>
                                <h4>Curiosity</h4>
                                <p>Overall I am quite fond of learning new things and keep an open mind to any new ideas/concepts.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                    </div>
                </div>
                <!-- End of Features Holder-->
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section-->	<section id="section-featurettes" class="featurettes overlay bg-fixed" style="background-image: url(static/night_sky.jpg);">

    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center text-white">

                        <div class="col-md-4 offset-md-2 col-sm-6" data-aos="fade-right">
                            <h4 class="mb-4">My Engineering Philosophy</h4>
                            <p>I fundamentally beleive in the idea that anyone can acoplish anything if they are willing to fail. I tackle my engineering dreams with this philosophy.</p>

                            <button type="button"  onclick="window.location.href='https://i.gifer.com/XoFN.gif';" class="btn btn-outline-primary">layman's terms</button>
                        </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                        <div class="col-md-4 offset-md-right-2 col-sm-6" data-aos="flip-right">
                            <img class="my-5" src="static/spock-shock.gif" alt="">
                        </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

                    </div><!--/ .featurettes-item -->

                </div><!--/ .col-md-12 -->

            </div><!--/ .row -->
        </div>
    </div><!--/ .container -->

</section>	

<section id="testimonial" class="section-padding bg-fixed bg-white overlay" style="background-image: url(static/sunset.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="heading-section text-center">
                <h2>
 Important Facts I Live By.
                </h2>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="testi-content testi-carousel owl-carousel">
                    <div class="testi-item text-center">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <h4 class="testi-text"><b>“Engineering 
</b>is not only study of 45 subjects but it is moral studies of intellectual life.”<br> </h4>
                        <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                            <div class="testi-img mr-2">
                                <img src="static/theboi.jpg" alt="">
                            </div>
                            <div class="testi-details">
                                <p class="testi-author mb-0 font-weight-bolder">Prakhar Srivasta<v/p>
                                <p class="testi-desc mb-0">Author</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="testi-item text-center">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <h4 class="testi-text">Engineers like to solve problems. If there are no problems handily available, they will create their own problems.</h4>
                        <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                            <div class="testi-img mr-2">
                                <img src="static/sa.png" alt="">
                            </div>
                            <div class="testi-details">
                                <p class="testi-author mb-0 font-weight-bolder">Scott Adams</p>
                                <p class="testi-desc mb-0">Author</p>
                            </div>
                        </div>
                    </div>
                     <div class="testi-item text-center">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <h4 class="testi-text">Live Long And Prosper.</h4>
                        <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                            <div class="testi-img mr-2">
                                <img src="static/spk.jpg" alt="">
                            </div>
                            <div class="testi-details">
                                <p class="testi-author mb-0 font-weight-bolder">Spock</p>
                                <p class="testi-desc mb-0">Vulcan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Testimonial -->
            </div>
        </div>
    </div>
</section>
<!-- End of Testimonial Section-->  <!-- Portfolio Section -->
<section id="portfolio" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">Some <b>Stuff</b> I Am Doing Now</h2>
                <p class="section-sub-title">From javascript applications to raspberry pi home automation. I pursue a diverse array of engineering projects.</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Portfolio Holder -->
                <div class="col-md-12 portfolio-holder mt-3">
                    <!-- Btn Filter -->
                 
                    <!-- End of Btn Filter -->
                    <!-- Portfolio Content -->
                    <div class="grid-portfolio">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <!-- Portfolio Item -->
                        <div class="grid-item minimalism" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="static/discord-bots.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="static/discord-bots.jpg" title="Utility/Information Discord Bot Development">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                        <a class="ext-link" href="about.html" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4>V.I.C Discord Bot</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="static/api.png" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="static/api.png" title="API Development">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        <a class="ext-link" href="about.html" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4>Climate Change News API</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative grid-item-height" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="static/wbs.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="static/wbs.jpg" title="Web Development/Design">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        <a class="ext-link" href="about.html" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4>Advancing Web Development skills through Portfolio Website</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="static/rpigas.png" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="static/rpigas.png" title="Gas Sensors">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        <a class="ext-link" href="about.html" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4>Undergraduate research assisstant for gas sensors lab (UT Austin)</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="static/pico.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="static/pico.jpg" title="Ethical Hacking">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        <a class="ext-link" href="about.html" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4>Ethical hacking rpi pico dangerous usb</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="static/pydev.png" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="static/pydev.png" title="Python Development">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        <a class="ext-link" href="about.html" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4>Python Development Projects (web to machine learning) </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                    </div>
                    <!-- End of Portfolio Content -->
                </div>
                <!-- End of Portfolio Holder -->
            </div>
        </div>
    </div>
</section>
                   <!-- <!--  --> 
<!-- End of Portfolio Section -->	<!-- Client Section -->
<section id="client" class="overlay bg-fixed" style="background-image: url(static/spak2.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row ">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="title-wrap mb-5">
                        <h2>Some <span> Of My </span> Skills</h2>
                    </div>
                    <!-- End of Section Title -->
                </div>
                <!-- Client Holder -->
                <div class="col-md-12 client-holder">
                    <div class="client-slider owl-carousel">
                        <div class="client-item">
                            <img class="img-responsive" src="static/c++.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/pythonicon.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/htmlicon.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/js.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/nodejs.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/Matlab_Logo.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/rpilogo.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/flasknbg.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="static/3dprint.png" alt=" ">
                        </div>
                    </div>
                    <!-- End of Client Holder -->
                </div>
            </div>
        </div>
</section>
<!-- End of Client Section -->	<!-- Reservation Section -->

            
<!-- End of Reservation Section -->	<!-- Features Section-->

<!-- End of Features Section--></div>
<footer class="mastfoot my-3">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		
         	</div>
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">“Science can amuse and fascinate us all, but it is engineering that changes the world.”
—Isaac Asimov, American writer, professor of biochemistry <a style ="color:#ff0000;" href="https://media4.giphy.com/media/mi6DsSSNKDbUY/giphy.gif?cid=790b7611dc745d0565aa169e2db90d9e4bb95d3ba5a266b3&rid=giphy.gif&ct=g" target="_blank">Get Excited</a>.</p>
         	</div>
           
            
            
        </div>
    </div>
</footer>	<!-- External JS -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="static/vendor/bootstrap/popper.min.js"></script>
	<script src="static/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="static/vendor/select2/select2.min.js "></script>
	<script src="static/vendor/owlcarousel/owl.carousel.min.js"></script>
	<script src="static/vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/vendor/isotope/isotope.min.js"></script>
	<script src="static/vendor/lightcase/lightcase.js"></script>
	<script src="static/vendor/waypoints/waypoint.min.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	 
	<!-- Main JS -->
	<script src="static/js/app.min.js "></script>
	<script src="/localhost:35729/livereload.js"></script>
</body>
</html>
